
@{
    ViewBag.Title = "Estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*@section styles{
        @Styles.Render("~/Content/RegistroVisitas")

    }*@
<link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
<link href="~/Content/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
<link href="~/Content/vendors/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="~/Content/vendors/bootstrap-fileinput-master/css/fileinput.css" rel="stylesheet" />


<style>
    .kv-avatar .krajee-default.file-preview-frame, .kv-avatar .krajee-default.file-preview-frame:hover {
        margin: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        text-align: center;
    }

    .kv-avatar {
        display: inline-block;
    }

        .kv-avatar .file-input {
            display: table-cell;
            width: 413px;
        }

    .kv-reqd {
        color: red;
        font-family: monospace;
        font-weight: normal;
    }
</style>




<div class="">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Alumnos <small>Mantenimiento</small></h2>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active">
                                <a href="#home" data-toggle="">Alumnos</a>
                            </li>
                            <li>
                                <a href="#profile" data-toggle="">Mantenimiento</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home">
                                <div class="clearfix">
                                    <div class="actions">
                                        <div class="inputs pull-right" hidden>
                                            <button class="btn btn-round btn-danger btn-sm" onclick="Eliminar();"><i class="fa fa-trash"></i> Eliminar</button>
                                        </div>

                                        <div class="inputs pull-right">
                                            <button class="btn btn-round btn-warning btn-sm" onclick="Editar();"><i class="fa fa-edit"></i> Modificar</button>
                                        </div>

                                        <div class="inputs pull-right">
                                            <button class="btn btn-round btn-primary btn-sm" onclick="Nuevo();"><i class="fa fa-plus-circle"></i> Nuevo</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered table-hover " id="tblEstudiantes" cellspacing="0">
                                            <thead>
                                                <tr class="headings">
                                                    <th class="column-title">#</th>
                                                    <th class="column-title">Código</th>
                                                    <th class="column-title">Nombres</th>
                                                    <th class="column-title">Primer Apellido</th>
                                                    <th class="column-title">Segundo Apellido</th>
                                                    <th class="column-title">fecha Nacimiento</th>
                                                    <th class="column-title" hidden>edad</th>
                                                    <th class="column-title" hidden>sexo</th>
                                                    <th class="column-title">NIE</th>
                                                    <th class="column-title" hidden>lugarNacimiento</th>
                                                    <th class="column-title" hidden>numeroPartidaNacimiento</th>
                                                    <th class="column-title" hidden>tomo</th>
                                                    <th class="column-title" hidden>folio</th>
                                                    <th class="column-title" hidden>libro</th>
                                                    <th class="column-title" hidden>departamento</th>
                                                    <th class="column-title" hidden>municipio</th>
                                                    <th class="column-title" hidden>direccion</th>
                                                    <th class="column-title" hidden>institucionProcedencia</th>
                                                    <th class="column-title">Grado Ingreso</th>
                                                    <th class="column-title" hidden>archivofoto</th>
                                                    <th class="column-title" hidden>idTransporteResponsable</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.Estudiantes)
                                                {
                                                    <tr class="even pointer">
                                                        <td>@item.idAlumno</td>
                                                        <td>@item.codigo</td>
                                                        <td>@item.nombres</td>
                                                        <td>@item.primerApellido</td>
                                                        <td>@item.segundoApellido</td>
                                                        <td>@item.fechaNacimiento</td>
                                                        <td hidden>@item.edad</td>
                                                        <td hidden>@item.sexo</td>
                                                        <td>@item.nie</td>
                                                        <td hidden>@item.lugarNacimiento</td>
                                                        <td hidden>@item.numeroPartidaNacimiento</td>
                                                        <td hidden>@item.tomo</td>
                                                        <td hidden>@item.folio</td>
                                                        <td hidden>@item.libro</td>
                                                        <td hidden>@item.departamento</td>
                                                        <td hidden>@item.municipio</td>
                                                        <td hidden>@item.direccion</td>
                                                        <td hidden>@item.institucionProcedencia</td>
                                                        <td>@item.gradoIngreso</td>
                                                        <td hidden>@item.archivofoto</td>
                                                        <td hidden>@item.idResponsable</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile">
                                <br />
                                <form class="form-horizontal form-label-left input_mask">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback" hidden>
                                            <input type="text" class="form-control has-feedback-left" id="inputId" placeholder="id">
                                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="kv-avatar">
                                                    <div class="file-loading">
                                                        <input id="avatar-1" name="avatar-1" type="file" required>
                                                    </div>
                                                </div>
                                                <div class="kv-avatar-hint">
                                                    <h6>Seleccione o arrastre una Foto </h6>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <div class="col-md-12 text-left">Código</div>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control has-feedback-left" id="inputCodigo" placeholder="Código" />
                                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <div class="col-md-12 text-left">Nombres</div>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control has-feedback-left" id="inputNombres" placeholder="Nombres" />
                                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <div class="col-md-12 text-left" for="inputPrimerApellido">Primer Apellido</div>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control has-feedback-left" id="inputPrimerApellido" placeholder="Primer Apellido" />
                                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <div class="col-md-12 text-left" for="inputSegundoApellido">Segundo Apellido</div>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control has-feedback-left " id="inputSegundoApellido" placeholder="Segundo Apellido" />
                                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-6 col-xs-12 xdisplay_inputx form-group has-feedback">
                                                    <div class="col-md-12 text-left" for="fechaNacimiento">Fecha de Nacimiento</div>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control has-feedback-left" id="fechaNacimiento" placeholder="Fecha de Nacimiento" aria-describedby="inputSuccess2Status4" />
                                                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                                                        <span id="inputSuccess2Status4" class="sr-only">(success)</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <div class="col-md-12 text-left" for="inputEdad">Edad</div>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control has-feedback-left" id="inputEdad" placeholder="Edad" />
                                                        <span class="fa fa-life-saver form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <div class="col-md-12 text-left" for="inputNIE">NIE</div>
                                                    <div class="col-md-12">
                                                        <input type="text" class="form-control has-feedback-left" id="inputNIE" placeholder="NIE" />
                                                        <span class="fa fa-info-circle form-control-feedback left" aria-hidden="true"></span>
                                                    </div>
                                                </div>
                                         
                                                <div class="col-md-12 col-sm-6 col-xs-12 form-group has-feedback">
                                                    <div class="form-group">
                                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                                            <div id="gender" class="btn-group" data-toggle="buttons">
                                                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                    <input type="radio" name="gender" id="male" value="male"> &nbsp; Masculino &nbsp;
                                                                </label>
                                                                <label class="btn btn-default" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
                                                                    <input type="radio" name="gender" id="female" value="female"> Femenino
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="inputLugarNacimiento">Lugar de Nacimiento</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control has-feedback-left" id="inputLugarNacimiento" placeholder="Lugar de Nacimiento" />
                                            <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="inputPartidaNacimiento">Número Partida de Nacimiento</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control has-feedback-right" id="inputPartidaNacimiento" placeholder="Número Partida de Nacimiento" />
                                            <span class="fa fa-life-bouy form-control-feedback right" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="inputTomo">Tomo</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control has-feedback-left" id="inputTomo" placeholder="Tomo" />
                                            <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="Address">Folio</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control has-feedback-right" id="inputFolio" placeholder="Folio" />
                                            <span class="fa fa-life-bouy form-control-feedback right" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="inputLibro">Libro</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control has-feedback-left" id="inputLibro" placeholder="Libro" />
                                            <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="sltDepartamento">Departamento</div>
                                        <div class="col-md-12">
                                            <select class="form-control" id="sltDepartamento">
                                                <option value="0">Seleccione Departamento</option>
                                                <option value="1">Santa Ana</option>
                                                <option value="2">Metapan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="sltMunicipio">Municipio</div>
                                        <div class="col-md-12">
                                            <select class="form-control" id="sltMunicipio">
                                                <option value="0">Seleccione Municipio</option>
                                                <option value="1">Santa Ana</option>
                                                <option value="2">Candelaria de la Frontera</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="inputDireccion">Dirección</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control has-feedback-right" id="inputDireccion" placeholder="Dirección" />
                                            <span class="fa fa-info-circle form-control-feedback right" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="inputLugarInstitucionProcedencia">Institución de Procedencia</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control has-feedback-left" id="inputLugarInstitucionProcedencia" placeholder="Institución de Procedencia" />
                                            <span class="fa fa-info form-control-feedback left" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                        <div class="col-md-12 text-left" for="inputGradoIngreso">Grado al que Ingresa</div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control has-feedback-right" id="inputGradoIngreso" placeholder="Grado al que Ingresa" />
                                            <span class="fa fa-info-circle form-control-feedback right" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                                                <div class="col-md-12 text-left" for="sltResponsable">Responsable</div>
                                                <div class="col-md-12">
                                                    <select class="form-control" id="sltResponsable">
                                                        <option value="0">Seleccione Responsable</option>

                                                        @foreach (var item in ViewBag.Representantes)
                                                        {
                                                            <option value="@item.idResponsable">@item.nombres @item.apellidos </option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>

                                        <br />

                                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback align-content-end">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-warning" id="update">Actualizar</button>
                                                <button type="button" class="btn btn-success" id="save">Guardar</button>
                                                <button type="button" class="btn btn-primary" id="cancel">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--MODAL-->
<div id="modalEstudiante" class="modal fade draggable-modal modalx" tabindex="-1" data-backdrop="static" data-keyboard="false" role="alertdialog" aria-hidden="true">
    <div class="modal-dialog">
        <div id="modal-content" class="modal-content">
            <div class="modal-header" id="modalHeader">

            </div>
            <div class="modal-body" id="modal-body">

                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">
                        Código:
                    </div>
                    <div class="col-md-8">
                        <input id="Codigo" class="form-control" placeholder="Código del Alumno" required />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">
                        Nombres:
                    </div>
                    <div class="col-md-8">
                        <input id="Nombres" class="form-control" placeholder="Nombres del Alumno" required />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">
                        Primer Ape:
                    </div>
                    <div class="col-md-8">
                        <input id="Nombres" class="form-control" placeholder="Nombres del Alumno" required />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-circle btn-warning btn-group-lg" id="btnActualizar" data-dismiss="modal">Actualizar</button>
                <button type="button" class="btn btn-circle btn-primary btn-group-lg" id="btnGuardar" data-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-circle btn-secondary btn-group-lg" id="btnCerrar" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*@Scripts.Render("~/Scripts/RegistroVisitas")*@
    <!--<script src="../build/js/custom.min.js"></script>-->

    <script src="~/Content/vendors/moment/min/moment.min.js"></script>
    <script src="~/Content/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/dropzone/dist/min/dropzone.min.js"></script>
    <script src="~/Content/vendors/alertifyjs/alertify.js"></script>

    <script src="~/Content/vendors/bootstrap-fileinput-master/js/fileinput.js"></script>
    <script src="~/Content/vendors/bootstrap-fileinput-master/js/locales/es.js"></script>
    <script src="~/Resources/js/Estudiantes/Estudiantes.js"></script>
}