
@model IEnumerable<SRALI.Models.tblOpcionesSistema>


<ul class="nav side-menu">

    <li><a href="."><i class="fa fa-university"></i> Inicio <span class="label label-success pull-right">Home</span></a></li>

    @foreach (var menu in Model)
    {
        if (menu.idPadre == 0)
        {
            <li>
                <a><i class="@menu.nombreIconoMenu"></i>@menu.nombreModulo<span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu">

                    @foreach (var child in Model)
                    {
                        if (child.idPadre == menu.id)
                        {
                            <li><a href="@child.nombreVista">@child.nombreModulo</a></li>
                            @*foreach (var childx in Model)
                            {
                                if (childx.idPadre == child.id)
                                {
                                    <li><a href="@childx.nombreVista">@childx.nombreModulo</a></li>
                                }
                            }*@

                        }
                    }
                </ul>
            </li>
        }

    }

</ul>



@*<li>
<a><i class="fa fa-home"></i> Home <span class="fa fa-chevron-down"></span></a>
<ul class="nav child_menu">
    <li><a href="index.html">Dashboard</a></li>
    <li><a href="index2.html">Dashboard2</a></li>
    <li><a href="index3.html">Dashboard3</a></li>
</ul>
</li>
<li>
<a><i class="fa fa-cogs"></i> Configuración <span class="fa fa-chevron-down"></span></a>
<ul class="nav child_menu">
    <li><a href="index.html">Dashboard</a></li>
    <li><a href="index2.html">Dashboard2</a></li>
    <li><a href="index3.html">Dashboard3</a></li>
</ul>
</li>*@


@*<a><i class="fa fa-sitemap"></i> Multilevel Menu <span class="fa fa-chevron-down"></span></a>

<ul class="nav child_menu">
<li>
    <a href="#level1_1">Level One</a>
</li>
<li>
    <a>Level One<span class="fa fa-chevron-down"></span></a>
    <ul class="nav child_menu">
        <li class="sub_menu">
            <a href="level2.html">Level Two</a>
        </li>
        <li>
            <a href="#level2_1">Level Two</a>
        </li>
        <li>
            <a href="#level2_2">Level Two</a>
        </li>
    </ul>
</li>
<li>
    <a href="#level1_2">Level One</a>
</li>
</ul>*@


