@using SRALI.Models
@model  tblUsuario
<!DOCTYPE html>
<html lang="es-sv">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title</title>

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Content/build/css/custom.min.css" rel="stylesheet">
    @Scripts.Render("~/bundles/jquery")

</head>

<body class="nav-md">

    @RenderSection("topLevel", required: false)

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        @*<a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Liceo Integral</span></a>*@

                        <a href="index.html" class="site_title">
                            <img src="~/Content/images/logoLI64px.png" /><span> Liceo Integral</span>
                        </a>
                    </div>


                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                        <div class="profile_pic">
                            @*<img src="~/Content/images/img.jpg" />*@
                            @*<img src="@ViewBag.UrlUsuarioImage" alt="..." class="img-circle profile_img">*@
                        </div>
                        <!--<div class="profile_info">
                            <span>Usted ha iniciado sesion como:</span>
                            <h2>@ViewBag.Usuario</h2>-->
                        @*<h2>@ViewBag.NombreUsuario</h2>*@
                        <!--</div>-->
                        <div class="clearfix"></div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">


                        <div class="menu_section">
                            <h3>Opciones del Sistema</h3>

                            @*Menu dinamico 1 inicia aqui*@

                            @{
                                try {
                                    Html.RenderAction("DynamicMenu", "Home");

                                }
                                catch(Exception ex)
                                {

                                }


                                }

                            @*Menu dinamico 1 Finaliza aqui*@


                            <div class="clearfix"></div>

                        </div>


                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout" href="@Url.Action("LogOut", "Access")">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    @*<img src="@ViewBag.UrlUsuarioImage" alt="">@Session["Usuario"]).nombreCompleto*@
                                    <img src="@Session["AvatarUsuario"]" alt="">@Session["NombreCompletoUsuario"]
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href=""> Perfil</a>
                                    <a class="dropdown-item" href="">
                                        <span class="badge bg-red pull-right">50%</span>
                                        <span>Configuración</span>
                                    </a>
                                    <a class="dropdown-item" href="">Ayuda</a>
                                    <a class="dropdown-item" href="@Url.Action("LogOut", "Access")"><i class="fa fa-sign-out pull-right"></i> Salir</a>
                                </div>
                            </li>

                            <li role="presentation" class="nav-item dropdown open">
                                <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge bg-green">6</span>
                                </a>
                                <ul class="dropdown-menu list-unstyled msg_list" role="menu" aria-labelledby="navbarDropdown1">
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="@ViewBag.UrlUsuarioImage" alt="Profile Image" /></span>
                                            <span>
                                                <span>@ViewBag.Usuario</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="@ViewBag.UrlUsuarioImage" alt="Profile Image" /></span>
                                            <span>
                                                <span>@ViewBag.Usuario</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="@ViewBag.UrlUsuarioImage" alt="Profile Image" /></span>
                                            <span>
                                                <span>@ViewBag.Usuario</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item">
                                            <span class="image"><img src="@ViewBag.UrlUsuarioImage" alt="Profile Image" /></span>
                                            <span>
                                                <span>@ViewBag.Usuario</span>
                                                <span class="time">3 mins ago</span>
                                            </span>
                                            <span class="message">
                                                Film festivals used to be do-or-die moments for movie makers. They were where...
                                            </span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <div class="text-center">
                                            <a class="dropdown-item">
                                                <strong>See All Alerts</strong>
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @*@RenderSection("featured", required: false)*@
                    @RenderBody()

                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Liceo Integral Manuel Farfan Castro & Kínder Plaza Sésamo,  Copyright © 2020 | Software desarrollado por <a href="https://www.smartcode.com.sv">Smart{Code}</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>


    <!-- jQuery -->
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Content/vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/Content/build/js/custom.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
