
@{
    ViewBag.Title = "Maestros";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="~/Content/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
<link href="~/Content/vendors/dropzone/dist/min/dropzone.min.css" rel="stylesheet">
<link href="~/Content/vendors/alertifyjs/css/alertify.css" rel="stylesheet" />


<div class="">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Maestros <small>Mantenimiento</small></h2>
                <div class="clearfix">
                    <div class="actions">
                        <div class="inputs pull-right">
                            <button class="btn btn-round btn-danger btn-sm" onclick="Eliminar();"><i class="fa fa-trash"></i> Eliminar</button>
                        </div>

                        <div class="inputs pull-right">
                            <button class="btn btn-round btn-warning btn-sm" onclick="Editar();"><i class="fa fa-edit"></i> Modificar</button>
                        </div>

                        <div class="inputs pull-right">
                            <button class="btn btn-round btn-primary btn-sm" onclick="Nuevo();"><i class="fa fa-plus-circle"></i> Nuevo</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="x_content">
                <table class="table table-striped table-bordered table-hover table-sm" id="tblMaestros" cellspacing="0">
                    <thead>
                        <tr class="headings">
                            <th class="column-title">#</th>
                            <th class="column-title">Nombres</th>
                            <th class="column-title">Apellidos</th>
                            <th class="column-title">Titulación</th>
                            <th class="column-title">Correo</th>
                            <th class="column-title">Telefono</th>
                            <th class="column-title">Dirección</th>
                            <th class="column-title">NIT</th>
                            <th class="column-title">DUI</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.Maestros)
                        {
                            <tr class="even pointer">
                                <td>@item.idMaestro</td>
                                <td>@item.nombres</td>
                                <td>@item.apellidos</td>
                                <td>@item.titulacion</td>
                                <td>@item.correo</td>
                                <td>@item.telefono</td>
                                <td>@item.dirección</td>
                                <td>@item.nit</td>
                                <td>@item.dui</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<div id="modalMaestro" class="modal fade draggable-modal modalx" tabindex="-1" data-backdrop="static" data-keyboard="false" role="alertdialog" aria-hidden="true">
    <div class="modal-dialog">
        <div id="modal-content" class="modal-content">
            <div class="modal-header">
                <h4 id="modalHeader" class="text-center" style="margin-bottom: 0px;"></h4>
            </div>
            <div class="modal-body" id="modal-body">
                <div class="row form-group form-md-line-input has-info" hidden>
                    <div class="col-md-4 text-left">idMaestro:</div>
                    <div class="col-md-8">
                        <input id="IdMaestro" class="form-control" placeholder="Código del Alumno" />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">Nombres:</div>
                    <div class="col-md-8">
                        <input id="Nombres" class="form-control" placeholder="Nombres" />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">Apellidos:</div>
                    <div class="col-md-8">
                        <input id="Apellidos" class="form-control" placeholder="Apellidos" />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">Titulación:</div>
                    <div class="col-md-8">
                        <input id="Titulacion" class="form-control" placeholder="Titulación" />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">Correo:</div>
                    <div class="col-md-8">
                        <input id="Correo" class="form-control" placeholder="Correo" />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">Telefono:</div>
                    <div class="col-md-8">
                        <input id="Telefono" class="form-control" placeholder="Telefono" />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">Dirección:</div>
                    <div class="col-md-8">
                        <input id="Dirección" class="form-control" placeholder="Dirección" />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">NIT:</div>
                    <div class="col-md-8">
                        <input id="NIT" class="form-control" placeholder="NIT" />
                    </div>
                </div>
                <div class="row form-group form-md-line-input has-info">
                    <div class="col-md-4 text-left">DUI:</div>
                    <div class="col-md-8">
                        <input id="DUI" class="form-control" placeholder="DUI" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" id="update">Actualizar</button>
                <button type="button" class="btn btn-success" id="save">Guardar</button>
                <button type="button" class="btn btn-primary" id="cancel" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>

@section Scripts{
    @*@Scripts.Render("~/Scripts/RegistroVisitas")*@

    <script src="~/Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/alertifyjs/alertify.js"></script>
    <script src="~/Resources/js/Maestros/Maestros.js"></script>
}

